<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
		<!-- Properties : Misc -->
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.generate_statistics">true</property>
		<!--  c3p0 pool -->
<!-- 
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">20</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.max_statements">1000</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.timeout">10000</property>
 -->
		<!-- Mappings -->

	</session-factory>
</hibernate-configuration>
