html * {
	margin: 0;
	/*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

body {
	background: #fff;
	color: #333;
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 1.2em;
}

a:link,a:visited {
	color: #66f;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #6ff;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #006dba;
	font-weight: normal;
	font-size: 16px;
	margin: .8em 0 .3em 0;
}

h2 {
	color: #006dba;
	font-weight: normal;
	font-size: 14px;
	margin: .8em 0 .3em 0;
}

ul {
	padding-left: 15px;
}

p {
	margin-top: 1em;
}

input,select,textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
}

select {
	padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus,select:focus,textarea:focus {
	border: 1px solid #b2d1ff;
}

.body {
	float: left;
	margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */
.nav {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.nav2 {
	background: #fff url(../images/skin/shadow2.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.menuButton {
	font-size: 11px;
	padding: 0 5px;
}

.menuRight {
	font-size: 11px;
	padding: 0 5px;
}

.menuButton a {
	color: #333;
	padding: 4px 6px;
}

.menuButton a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.list {
	background: url(../images/skin/database_table.png) center left no-repeat
		;
	color: #333;
	padding-left: 25px;
}

.menuButton a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.delete {
	background: url(../images/skin/database_delete.png) center left
		no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.edit {
	background: url(../images/skin/database_edit.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.help {
	background: url(../images/skin/help.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.leave {
	background: url(../images/skin/exclamation.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.login {
	background: url(../images/skin/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.info {
	background: url(../images/skin/information.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.help {
	background: url(../images/skin/information.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.save {
	background: url(../images/skin/database_save.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.calc {
	background: url(../images/skin/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a:hover {
	color: #6ff;
}

/* MESSAGES AND ERRORS */
.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px
}

div.errors {
	background: #fff3f3;
	border: 2px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.errors ul {
	list-style: none;
	padding: 0;
}

div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

div.logo img {
	padding: 5px 0px 0px 5px;
}

td.errors input {
	border: 2px solid red;
}

td.errors select {
	border: 2px solid red;
}

/* TABLES */
table.menu {
	text-align: left;
	margin: 0 0 0 0;
}

tr.menu {

}

td.menusmall {
	width: 40px;
	height: 57px;
}

table.normal {
	border: 1px solid #ccc;
}

table.normal tr {
	border: 0;
}

table.normal td,th {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 1.2em;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
}

table.normal th {
	background: #fff url(../images/skin/shadow.jpg);
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.2em;
	padding: 2px 6px;
}

th a:link,th a:visited {
	color: #333;
	display: block;
	font-size: 11px;
	text-decoration: none;
	width: 100%;
}

th a:hover {
	color: #6ff;
	display: block;
	font-size: 11px;
	text-decoration: none;
	width: 100%;
}

th.asc a,th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

.rosa {
	background: #fdd;
}

.grey {
	color: #AAA;
}

.color10 {
	background: #00f700;
	color: #000;
}

.color9 {
	background: #00f000;
	color: #000;
}

.color8 {
	background: #00e700;
	color: #000;
}

.color7 {
	background: #00e000;
	color: #000;
}

.color6 {
	background: #00d700;
	color: #000;
}

.color5 {
	background: #00d000;
	color: #FFF;
}

.color4 {
	background: #00c700;
	color: #FFF;
}

.color3 {
	background: #00c000;
	color: #FFF;
}

.color2 {
	background: #00b700;
	color: #FFF;
}

.color1 {
	background: #00b000;
	color: #FFF;
}

.color0 {
	background: #00a700;
	color: #FFF;
}

.color-1 {
	background: #b00000;
	color: #FFF;
}

.color-2 {
	background: #b70000;
	color: #FFF;
}

.color-3 {
	background: #c00000;
	color: #FFF;
}

.color-4 {
	background: #c70000;
	color: #FFF;
}

.color-5 {
	background: #d00000;
	color: #FFF;
}

.color-6 {
	background: #d70000;
	color: #000;
}

.color-7 {
	background: #e00000;
	color: #000;
}

.color-8 {
	background: #e70000;
	color: #000;
}

.color-9 {
	background: #f00000;
	color: #000;
}

.color-10 {
	background: #f70000;
	color: #000;
}

/* LIST */
.list table {
	border-collapse: collapse;
}

.list th,.list td {
	border-left: 1px solid #ddd;
}

.list th:hover,.list tr:hover {
	background: #b2d1ff;
}

/* PAGINATION */
.paginateButtons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-top: 0;
	color: #666;
	font-size: 11px;
	overflow: hidden;
	padding: 10px 3px;
}

.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}

/* DIALOG */
.dialog table {
	padding: 5px 0;
}

.prop {
	padding: 5px;
}

.prop .name {
	text-align: left;
	width: 15%;
	white-space: nowrap;
}

.prop .value {
	text-align: left;
	width: 85%;
}

/* ACTION BUTTONS */
.buttons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	color: #666;
	font-size: 11px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0;
}

.buttons input {
	background: #fff;
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
}

.buttons input.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.buttons input.edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.buttons input.save {
	background: transparent url(../images/skin/database_save.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

/* user defined */
.win {
	background-color: lawngreen;
}

.loose {
	background-color: lightgrey;
}

.user a {
	color: #F00;
}


/* custom */


.bsmList-custom {
  /* html list that contains selected items */
  margin: 0.25em 0 0.25em 0;
  display: block;
  padding-left: 0;
  list-style: none;
}

.bsmListItem-custom {
  /* li item from the html list above */
  margin: 0 5px 5px 0;
  padding: 4px;
  list-style: none;
  background: #ddd;
  border: 1px solid #bbb;
  line-height: 1em;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.bsmListItem-custom:hover {
  background-color: #e5e5e5;
  box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  -moz-box-shadow: 0 0 3px #aaa;
}

.bsmListItemLabel-custom {
  padding-right: 5px;
}

.bsmListItemRemove-custom {
  text-decoration: none;
}